* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --cs-primary: #e8e4dc;
    --cs-white: #fff;
    --cs-black: #000;
}

h1 {
    font-size: 80px;
    font-weight: 800;
}

h2 {
    font-size: 48px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

p {
    font-size: 18px;
    font-weight: 400;
}

.cp60 {
    padding: 60px 0px;
}

.space{
    padding: 16px 0px 25px 0px;
}

/* header */
.header {
    background-color: #e8e4dc;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    padding: 0px 15px;
}

.nav-item a {}

.navbar-nav .nav-item.active .nav-link {
    font-weight: 500;
}

.navbar-brand img {
    width: 170px;
}

/* banner */
.banner {
    background: url(../uploads/banner-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    background-color: var(--cs-primary);
}

.banner .row {
    min-height: 90vh;
}

.banner h2 {

    font-size: 30px;

    font-weight: 400;

    line-height: 42px;
}

.btn-cs{
    padding: 15px 30px;
    font-size: 16px;
    background-color: #a16a50;
    color: #fff;
    border-radius: 5px;
}

.btn-cs:hover{
    background-color: #6b341a;
    color: #fff;
}

/* about */
.about_title h2,p, .ab_btn{
    text-align: center;
}